* {
    color: black;
}
@media screen and (max-width: 1000px) {
    * {
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE 10+ */
    }

    *::-webkit-scrollbar {
        display: none; /* Chrome Safari */
    }
}

html, body {
    padding: 3px 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
}

input {
    height: 20px;
    width: 100%;
    outline: none;
}

input[type="checkbox"] {
    height: auto;
    width: auto;
}

.window {
    border: 3px solid #387ef5;
    border-radius: 5px;
    width: 95%;
    max-width: 500px;
    margin: 0 auto;
    background: #f9f9f9;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
}

.title {
    padding: 5px;
    background: #387ef5;
    border: 1px solid #387ef5;
    color: white;
    height: 22px;
}

.btn {
    border: 1px solid #387ef5;
    background: #387ef5;
    text-align: center;
    color: white;
    display: block;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    margin: 3px;
}

.btn2 {
    color: white;
    text-decoration: none;
}

.table_title_sticky {
    position: sticky;
    top: 0;
    z-index: 500;
}

.table_left_sticky {
    position: sticky;
    left: 0;
    z-index: 400;
    background: #f7f6f6;
}

.floatmain {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1500;
    align-items: center;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
}

.floatmain .floatbg {
    background: black;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 0.7;
    z-index: 998;
    overflow: hidden;
}

.floatmain .float {
    left: 5%;
    border-radius: 7px;
    background: white;
    width: 90%;
    max-width: 500px;
    height: 90%;
    max-height: 800px;
    z-index: 1501;
    margin: 0 auto;
    border: 3px solid #387ef5;
    padding: 33px 0 0;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
}

.float .title {
    margin: -33px 0 0;
}

.float .title .content {
    color: white;
}

.float .title .close {
    color: white;
    border: 1px solid white;
    border-radius: 2px;
    float: right;
    display: inline-block;
    line-height: 17px;
    width: 17px;
    height: 17px;
    text-align: center;
    text-decoration: none;
}

.float .contentbox {
    padding: 5px;
    height: 100%;
    width: 100%;
    border-radius: 7px;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
}

.float .content {
    -webkit-overflow-scrolling: touch;
    word-break: break-all;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
}

#lodingbg {
    background: black;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.7;
    z-index: 9998;
}

#lodingcontent {
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 9999;
}

.kjlb, .kjlb2, .kjlb3 {
    list-style: none;
    padding: 0;
    margin: 0;
}

.kjlb li, .kjlb2 li, .kjlb3 li {
    display: inline-block;
    margin: 3px;
    padding: 5px 7px;
    background-color: #387ef5;
    color: white;
    text-align: left;
    min-width: 15px;
}

.kjlb li.t {
    background-color: #FF7C13;
    width: 90%;
}

#tablenamelistul li, #tablenamelistul2 li, #tablencoumnsul li {
    display: block;
}


