#tabledatashow,#tabledatashow2{
    border-collapse: collapse;
    border: 1px;
}
#tabledatashow td,#tabledatashow2 td{
    padding: 3px 15px;
    white-space: nowrap;
    max-width: 500px;
    overflow: hidden;
}
#tabledatashowthead tr,#tabledatashowthead2 tr{
    background: #387EF5;
}
#tabledatashowthead td,#tabledatashowthead2 td{
    color: white;
    position: relative;

}
#tablediv{
	overflow: scroll;
	-webkit-overflow-scrolling: touch; 
	width:100%;
	margin-top: 5px
}