#tabledatashow, #tabledatashow2 {
    border-collapse: collapse;
    border: 1px;
}

#tabledatashow td, #tabledatashow2 td {
    padding: 3px 15px;
    white-space: nowrap;
    max-width: 500px;
    overflow: hidden;
}
#tabledatashowthead, #tabledatashowthead2{
    background: #387EF5;
}
#tabledatashowthead tr, #tabledatashowthead2 tr {
    background: #387EF5;
}

#tabledatashowthead td, #tabledatashowthead2 td {
    color: white;
}

#tablediv {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    margin-top: 5px
}

#zshow_one_data_windowcontext {
    margin: 10px;
}

.show_one_data_field {
    padding-bottom: 5px;
}

.show_one_data_field_title {
    color: #7f7f7f;
    padding: 3px 3px;
}

.show_one_data_field_context {
    background-color: #ffffff;
    padding: 3px 10px;
    border-radius: 5px;
    min-height: 18px;
}

.sqltip {
    -webkit-overflow-scrolling: touch;
    margin: 3px;
    padding: 5px;
    overflow-x: scroll;
    min-height: 25px;
    line-height: 25px;
    border: 1px solid #387ef5;
    border-radius: 5px;
    white-space: nowrap;
}
.sqltip label{
    padding: 3px  7px;
    background-color: #387ef5;
    border-radius: 5px;
    color: white;
    margin: 0px 3px;
}
#tabledata{
    height: 100%;
}
#tabledata2{
    height: 100%;
}

#tablefiltertipbox{
    position: fixed;
    z-index: 1000;
    right: 0px;
    top: 105px;

    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #bc67ea;
    color: white;
    border: 1px solid white
}

#tablefiltertipboxtip{
    position: absolute;
    bottom: 5px;
    right: -2px;
    color: #00ff72;
    font-size: 40px;
    line-height: 20px;
}

#tablefiltercontextbox .filter_box{
    padding: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    width: 100%;
}

#tablefiltercontextbox .filter_box .filter_line1{
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */

}
#tablefiltercontextbox .filter_box .filter_line2{
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    margin: 5px 0;

}
#tablefiltercontextbox .filter_box .filter_checkbox{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    vertical-align:middle;
}
#tablefiltercontextbox .filter_box .filter_column{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 20px;
    margin: 0 5px;
    width: 140px;
}
#tablefiltercontextbox .filter_box .filter_condition{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 20px;
    margin: 0 5px;
    width: 70px;
}
#tablefiltercontextbox .filter_box .filter_add,#tablefiltercontextbox .filter_box .filter_delete{
    width: 20px;
    height: 20px;
    text-align: center;
    color: white;
    background: #387ef5;
    margin: 0 5px;
    line-height: 20px;
    display: inline-block;
}
#tablefiltercontextbox .filter_box .filter_value{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 30px;
    border-radius: 5px;
    border:1px solid #cbcbcb;
}

#sqllistbox{
    position: fixed;
    z-index: 10;
    right: 0px;
    top: 115px;
    height: 50%;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-top: 90px;
}
#sqllistbtnbox{
    height: 90px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-top: -90px;
    padding:5px 0 20px 0;
}
#sqllistitembox{
    overflow-x: scroll;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#sqllistbox .sqllistitem{

    margin: 0 0 10px 0;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #5e5e5e;
    color: white;
    border: 1px solid white
}
#sqllistbox .sqllistitembtn{
    background: #6aabf3;
}
#sqllistbox .sqllistitemact{
    background: #387ef5;
    overflow: scroll;
}