#tables{
    height: 100%;
}
#tablesList{
    list-style: none;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 0;
    padding: 0px 3px;
    overflow-x: hidden;

}
#tablesList li{
    margin: 2px 0;
    padding: 1px 0 1px 3px;
    text-align: left;
}

